<h1>목록 페이지</h1>

<div class="input-group">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Type and Enter to Search", :style => "width: 210px;", class: "form-control" %>
    <%= submit_tag "Search", :style => "display: none;" %>
  <% end %>
</div>

<div class="table-responsive">
    <table class="table table-fit">
        <thead>
            <tr>
                <th>제목</th>
                <th>글쓴이</th>
                <th>공고기한</th>
            </tr>
        </thead>
        <tbody>
                <%@posts.each do |post|%>
                    <tr>
                        <td><%=link_to("#{post.title} (#{post.comments.count})", post_path(post.id))%></td>
                        <td><%=post.user.email%></td>
                        <td><%=post.recruitdate%></td>
                    </tr>
                <%end%>
        </tbody>
    </table>
    <%= will_paginate @posts, :previous_label => t("previous"), :next_label => t("next") %>
</div>

