<h1><strong><%=@post.title%></strong> by <%=@post.user.email%></h1>
<h4>공모기한 : <%=@post.eventdate%><br>
공고기한 : <%=@post.recruitdate%><br>
관련 사이트 : <%=link_to @post.weblink, @post.weblink%></h4>
<hr>

<%=@post.content.html_safe%>
<hr>

<div class="well">
    <%if user_signed_in?%>
        <%=bootstrap_form_for(@comment, url: post_comments_path(@post)) do |f|%>
            <%=f.hidden_field :user_id, value: current_user.id%>
            <%=f.hidden_field :post_id, value: @post.id%>
            <%=f.text_field :content, label: "댓글", append: f.submit('작성', class: "btn btn-secondary") %>
        <%end%>
    <%else%>
        <%=link_to '댓글을 다시려면 로그인을 해주세요!', new_user_session_path%>
    <%end%>
</div>
<hr />
<%@comments.each do |c|%>
    <div class="media">
        <div class="media-body">
                <strong>by </strong><%=c.user.email%>, <strong><%= time_ago_in_words(c.created_at) %> 전
                <%if c.user == current_user%>
                    <%=link_to '[x]', post_comment_path(@post, c), method: :delete%></strong>
                <%end%>
            <br> 
            <%=c.content%>
        </div>
    </div>
<%end%>
<hr>
<%if @post.user == current_user%>
    <%=link_to '수정', edit_post_path%>
    <%=link_to '삭제', post_path, method: :delete%>
<%end%>
    <%=link_to '목록', root_path%>