<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%=link_to 'Jolup', root_path, id:'logo'%>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%=link_to 'Home', root_path%></li>
      <li><%=link_to 'New recruit', new_post_path%></li>
      <% if user_signed_in?%>
          <li><%=link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Unread <span class="badge"><%= current_user.new_notifications.unread_by(current_user).count %></span></a>
              <ul class="dropdown-menu">
                <li><%= render partial: "new_notifications/new_notification", collection: current_user.new_notifications.unread_by(current_user) %></li>
                <li><%= link_to 'Mark all as read', new_notifications_read_all_path %></li>
              </ul>
          </li>
      <%else%>
          <li><%=link_to 'Login', new_user_session_path %></li>
          <li><%=link_to 'Register', new_user_registration_path %></li>
      <%end%>
    </ul>
  </nav>
</div>
</header>